<h4><%= t('blacklight.welcome') %></h4>
<p>&nbsp;</p>

<h2>Welcome to IU Digital Collections Search BETA</h2>
<p style="font-size:120%">IU Digital Collections Search provides a discovery interface for searching and browsing across selected digital collections created by the IU Libraries.</p>
<p style="font-size:120%">The IU Digital Collections Search is intended to eventually serve as a 'one-stop' user interface providing discovery across items in all publicly available digitized collections. However, at this point, only a subset of collections are included. The index currently includes digitized items such as photographs, sheet music, manuscript collections, letters, and papers from the following sources: </p>
<ul>
 <li>Indiana University Archives</li>
 <li>The Lilly Library</li>
 <li>Indiana State Library</li>
 <li>Indiana State Museum</li>
 <li>Indiana Historical Society</li>
 <li>Indiana Magazine of History</li>
 <li>Archives of Traditional Music</li>
 <li>Working Men's Institute, New Harmony</li>
 <li>Calumet Regional Archives at Indiana University Northwest</li>
 <li>and many others
</ul>
<p style="font-size:120%">This system is still under development, so it may not be available at all times, and results may not always be what you expect. Your comments (email to diglib@indiana.edu) on issues and improvements are highly appreciated!</p>


<% #Creates a bit space in the page -%>

